@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

@import "tailwindcss";


@theme {
  --font-jost: "jost", sans-serif; 
  --font-rye: "Rye", serif;
  --font-prism:  "Tilt Prism", sans-serif;
}
